{% extends 'layout.html' %}
{% load static %}
{% block content %}
    
  </head>
  <body  style="font-family: 'PT Serif', serif;">

<!--component Start-->

<section class=" body-font bg-gray-100 ">
  <div class="container px-5 py-16 mx-auto">
    <div class="text-center mb-12">
      <h1 class="md:text-2xl text-xl font-bold title-font text-blue-600 mb-4 tracking-widest">Our Story</h1>
      <p class="md:text-xl text-lg  font-normal title-font text-gray-700 mb-2 text-justify">Owing to their superpower to infuse this world with their selfless love, animals have always been our haven in distressed times. But isn't love a two way street? Growing up we always wanted to have a pet, any kind would do only if our parents would allow it. We tried rescuing stray birds, cats and all sorts of critters but always had to give them up. Until one fine day our parents gave in and let us adopt our first dog. She was a ball of fur that came into our lives on a whim and changed it completely for the better. Living with her taught us compassion, kindness and what it was to be selfless. Tempting as it was, to keep this happiness to ourselves, we knew the world could do with  little more love.  This encouraged us to help all the animals that needed somebody there for them.</p>
        
      <p class="md:text-xl text-lg  font-normal title-font text-gray-700  text-justify"> From then we started caring for, feeding and taking care of animals in our vicinity. Realization soon set in that just feeding them is not enough and providing a home for them would be the best thing that they could ask for, where the networking for adoption started. Starting small from publicizing potential adoptions via personal contacts, we grew and finally have taken a big step into what has been a dream for years together. </p>
      
    </div>
  </div>
</section>

<!--Component End -->

  <!--component Start-->

  <section class=" body-font">
      <div class="container px-5 py-8 mx-auto ">
        <div class="text-center mb-20 mt-20">
          <h1 class="md:text-2xl text-xl font-bold title-font text-blue-600 mb-4 tracking-widest">Our Mission</h1>
          <p class="md:text-xl text-lg  font-normal title-font text-gray-700 mb-4 text-justify ">Passing through the streets of India, all we see is abandoned animals seeking shelter alongside footpaths and finding places to shelter themselves from rain, storm or sun. A majority of the times these animals are driven away from street corners they call homes. As AdoptionHQ our mission is to give these lost souls a forever home. When we faltered and tripped, often jeopardising our rescue operations , identifying and tying the loose threads became our mission. This grind became the foundation of our organization, cemented by our zest, and each success story only made us stronger.  </p>

          <p class="md:text-xl text-lg font-normal title-font text-gray-700 mb-4 text-justify ">We are a non-profit organization that works towards bridging the gap between potential adopters and animals from shelters, fosters and the streets. . We provide a platform for anyone, who desires to help in their best capabilities. Alongside this we aim to create awareness about the benefits of adoption. In the long run, we dream of empty shelters and providing a roof over the heads of as many animals as we can. For each of you who cares you’ll only make our community stronger. Together we can. Together we will! </p>


          
        </div>
      </div>
    </section>
  
    <!--Component End -->
  
    <!--Component Start-->
    <section class=" body-font bg-gray-100 ">
      <div class="container px-5 py-8 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1 class="text-2xl font-bold mb-2 text-blue-600 tracking-widest">Our Team</h1>
        </div>

        <div class="flex flex-wrap -m-4">
          <div class="p-4 lg:w-1/2">
            <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
              <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover sm:mb-0 mb-4" src="{% static 'images/siddhi.jpeg' %}" >
              <div class="flex-grow sm:pl-8">
                <h2 class="title-font font-medium text-lg text-gray-900">Siddhi Phalke</h2>
                <h3 class="text-gray-500 mb-3"> Founder & CEO</h3>
                <p class="mb-4">I am an Interior Designer and an aspiring Animal Assisted therapist.</p>
                <a class="modal-open mt-3 text-indigo-500 inline-flex items-center  transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 cursor-pointer" data-toggle="modal" data-target="firstModal">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="p-4 lg:w-1/2">
            <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left ">
              <img alt="team" class=" flex-shrink-0 rounded-lg w-48 h-48 object-contain object-center sm:mb-0 mb-4" src="{% static 'images/sakshi.jpg' %}">
              <div class="flex-grow sm:pl-8">
                <h2 class="title-font font-medium text-lg text-gray-900">Sakshi Phalke</h2>
                <h3 class="text-gray-500 mb-3">Co-Founder</h3>
                <p class="mb-4">I have recently finished my Masters in Biotechnology and plan to pursue my PhD.</p>

                <a class="modal-open mt-3 text-indigo-500 inline-flex items-center  transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 cursor-pointer" data-toggle="modal" data-target="secondModal">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="p-4 lg:w-1/2">
            <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
              <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="{% static 'images/pratik.jpg' %}">
              <div class="flex-grow sm:pl-8">
                <h2 class="title-font font-medium text-lg text-gray-900">Pratik Jadhav</h2>
                <h3 class="text-gray-500 mb-3"> Technical Head</h3>
                <p class="mb-4">I am a Computer Engineer and an enthusiastic photographer.</p>
                <a class="modal-open mt-3 text-indigo-500 inline-flex items-center  transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 cursor-pointer" data-toggle="modal" data-target="thirdModal">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>

         

          

        </div>
      </div>
    </section>
    <!--Component End-->


    




<!--Modal 1-->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center" id="firstModal">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
  
  <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
    
    

    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="modal-content py-4 text-left px-6"  style="font-family: 'Roboto', sans-serif;">
      <!--Title-->
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold"> Siddhi Phalke</p>
        
      </div>

      <!--Body-->
      <p class="text-lg  mb-4 text-justify">I am an interior designer and an aspiring animal-assisted therapist. Animals  have played a crucial role in my life and have helped me through some of my hardest times. I would keep
        telling myself that there was only so much I could do to help until I realized that every step I
        took, counted. The idea of AdoptionHQ came into being after studying the various obstacles I
        faced while doing my part for the benefit of the animals. Giving them a safe haven they can call
        home, is something I am vehemently passionate about and I hope to see these animals reach
        their forever homes safe and sound. </p>
        
      

      <!--Footer-->
      <div class="flex justify-end pt-2">
        <button class="modal-close px-4 p-3 r rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5"> Close </button>
      </div>
      
    </div>
  </div>
</div>

<!--Modal End-->









<!--Modal 2-->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center" id="secondModal">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
  
  <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
    
    

    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="modal-content py-4 text-left px-6"  style="font-family: 'Roboto', sans-serif;">
      <!--Title-->
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold"> Sakshi Phalke</p>
        
      </div>

      <!--Body-->
      <p class="text-lg mb-4 text-justify">I have recently finished my Masters in Biotechnology and plan to pursue my PhD. Animals have always been an integral part of life in a way that being around them, helping them has shaped me into the person I am now. Giving back to them was a fairly obvious thing to do and that’s where the idea of becoming a part of AdoptionHQ stemmed. Nothing warms my heart more than a wagging tail and I hope to see all the animals that come seeking help, happy, content and receiving all the love they deserve.  </p>
      

      <!--Footer-->
      <div class="flex justify-end pt-2">
        <button class="modal-close px-4 p-3 r rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5"> Close </button>
      </div>
      
    </div>
  </div>
</div>

<!--Modal End-->




<!--Modal 3-->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center" id="thirdModal">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
  
  <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
    
    

    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="modal-content py-4 text-left px-6"  style="font-family: 'Roboto', sans-serif;">
      <!--Title-->
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold"> Pratik Jadhav</p>
        
      </div>

      <!--Body-->
      <p class="text-lg mb-4 text-justify">Hi there! I’m so glad you gave our little site a visit. I am Pratik, an engineer by education and a photographer by passion . Pets bring so much joy in ones life, more than it may appear. Along with love, joy, companionship and lots of dopamine, animals make me feel secure because of the unconditional love they provide.  </p>
      <p class="text-lg mb-2 text-justify">Being able to take care of pets is a privilege for me, it gives me a sense of purpose and validation that I need. Animals have given me so much it only made sense to try and give back something which I can never repay. I learned about AdoptionHQ and was hooked to the idea of it. I wanted to be a part of this so bad, there was nothing like this anywhere in my knowledge. I truly hope you will find the joy in animals as I did and cute little munchkins will find a loving home. </p>
      

      <!--Footer-->
      <div class="flex justify-end pt-2">
        <button class="modal-close px-4 p-3 r rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5"> Close </button>
      </div>
      
    </div>
  </div>
</div>

<!--Modal End-->


 

<script>
   var openmodal = document.querySelectorAll('.modal-open')
   let selectedModalTargetId = ''
   for (var i = 0; i < openmodal.length; i++) {
     openmodal[i].addEventListener('click', function(event){
       selectedModalTargetId = event.target.attributes.getNamedItem('data-target').value
       event.preventDefault()
       toggleModal()
     })
   }

  const overlay = document.querySelector('.modal-overlay')
  overlay.addEventListener('click', toggleModal)

  var closemodal = document.querySelectorAll('.modal-close')
  for (var i = 0; i < closemodal.length; i++) {
    closemodal[i].addEventListener('click', toggleModal)
  }

  document.onkeydown = function(evt) {
    evt = evt || window.event
    var isEscape = false
    if ("key" in evt) {
      isEscape = (evt.key === "Escape" || evt.key === "Esc")
    } else {
      isEscape = (evt.keyCode === 27)
    }
    if (isEscape && document.body.classList.contains('modal-active')) {
      toggleModal()
    }
  }

  function toggleModal () {
    if(!selectedModalTargetId) {
      return
    }
    const body = document.querySelector('body')
    const modal = document.getElementById(selectedModalTargetId)
    modal.classList.toggle('opacity-0')
    modal.classList.toggle('pointer-events-none')
    body.classList.toggle('modal-active')
  }
</script>
  
  </body>
  
{% endblock %}  
  