{% extends 'layout.html' %}
{% load static %}
{% block content %}

<body  style="font-family: 'PT Serif', serif;" >
    
        
    <!--component Start-->

    <section class="text-gray-700 body-font"  >
        <div class="container px-5 pt-12  mx-auto">
          <div class="flex flex-col text-center w-full mb-16">  
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Frequently Asked Question</h1>
            
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-700">You have questions? We have answers!</h1>
          </div>        
        </div>
      </section>


    <section class="text-gray-700 body-font overflow-hidden" >
        <div class="container px-5  mx-auto">
          <div class="-my-8">

            <div class="py-8 flex flex-wrap md:flex-no-wrap">
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is adoption? How is it different from buying a dog/cat?</h2>
                <p class="leading-relaxed">More often than not, people tend to buy animals from breeders rather than adopting animals already looking for homes. Breeding of animals not only contributes to their already growing population but also affects the genetic makeup of these animals. This could potentially be fatal to the animal in the long run whilst causing a myriad of diseases during their lifetime. Animals from shelters and streets rarely show such instances due to their vast spread gene pool. You could always opt for taking in an animal from these shelters and giving them a better chance at life. </p>
              </div>
            </div>

            <div class="py-8 flex border-t-2 border-gray-200 flex-wrap md:flex-no-wrap">  
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What is fostering?</h2>
                <p class="leading-relaxed">Fostering in the entirety of the term means that you would take in an animal in your home for a predetermined amount of time to provide shelter and care to them for that time frame till a forever home is found.  </p>
              </div>
            </div>

            <div class="py-8 flex border-t-2 border-gray-200 flex-wrap md:flex-no-wrap">
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What’s the most appropriate thing for me? Adoption or Fostering?</h2>
                <p class="leading-relaxed">It mainly is a matter of choice, but we would recommend first time pet parents to become a foster first. This would help you understand the nuances of being a pet parent and allow you to better understand the needs of your pet better. Your financial stability plays a role in the same as well, it does however depend on the shelter that entrusts the animal in your care. Adoption is always encouraged but we recommend fostering to test the waters of pet responsibility.</p>
              </div>
            </div>

            <div class="py-8 flex flex-wrap md:flex-no-wrap">
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">How often is the website updated with new available dogs?</h2>
                  <p class="leading-relaxed">The website is updated every 4-7 days, removing adopted dogs, as well as adding new ones!</p>
                </div>
              </div>
  
              <div class="py-8 flex border-t-2 border-gray-200 flex-wrap md:flex-no-wrap">  
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What do I do if the dog I initially wanted to adopt is taken?</h2>
                  <p class="leading-relaxed">As the website is not updated on a daily basis, chances are there may be posts still on the website of animals that already have been adopted. Don’t be discouraged all animals need a forever home, we’re sure we would find your furry friend. Do contact us if you need any more help on this front.</p>
                </div>
              </div>
  
              <div class="py-8 flex border-t-2 border-gray-200 flex-wrap md:flex-no-wrap">
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Can I keep a pet while I live in an apartment?</h2>
                  <p class="leading-relaxed">It is often a misconception that you need to live in a large house to keep a pet. Depending on the breed of the animal the place they require varies. Although, you may want to check with your landlord before adoption, if you’re a renter. Finally it is the decision of the shelter to release the animal in your care.
                </p>
                </div>
              </div>

              <div class="py-8 flex border-t-2 border-gray-200 flex-wrap md:flex-no-wrap">
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What food should I be feeding my pet?</h2>
                  <p class="leading-relaxed mb-8">There are several brands of pet food in the market, this being said pets can be given a mix of kibble and human food. Foods such as nuts, onions, salt, sugar, gum, garlic, chocolate, etc should be expressly avoided and the main focus should always be kept on kibble. These needs also differ with differences in breeds, age and weight. Do consult a vet for a more detailed diet plan for your pet.
                </p>
                </div>
              </div>

          </div>
        </div>
      </section>
    <!--Component End-->

   
<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      More Questions?
      <br>
      <span class="text-red-600">DM us now.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <a href="contact.html" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-red-600  focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
          MESSAGE
        </a>
      </div>
     
    </div>
  </div>
</div>

    



         

    </body>
{% endblock %}    
    
    